<main id="home_main">

<section id="login_left">
    <img class="login-img" src="/assets/images/twitter.svg" alt="">
    <div class="login_left-container">
        <a class="login_left-link_home" href="/home/{{me}}"> <img class="login-img" src="/assets/images/home.svg" alt=""> Accueil</a>
    </div>
    <div class="login_left-container">
        <a class="login_left-link_profil" href="/profil/{{me}}"> <img class="login-img" src="/assets/images/user.svg" alt=""> Profil</a>
    </div>
    <div class="login_left-container">
        <a class="login_left-link_profil" href="/logout"> <img class="login-img" src="/assets/images/criss-cross.svg" alt="">Logout</a>
    </div>
</section>

<section id="login_center">
    <div class="login_container1">
        <a href="/profil/{{me}}"><img src="/assets/images/back.svg" height="20px"alt=""></a>
        <h1 class="login_container1-title">Tweeter</h1>
    </div>
    
    <div class="login_container3"></div>
    {{#each message}} 
    <div class="login_container4">
        <div class="login_container4-tweet">
            <div class="login_container4-img">
                <img src="{{link}}">
            </div>
            <div class="login_container4-content">
                <div class="name"> 
                    <h1>{{username}}</h1>
                    {{moment created_at "fromNow"}}
                </div>
                <div class="content">
                {{ content }}
                </div>
            </div>
        </div>
        </div>
    </div>
    {{/each}} 
    

</section>

<section id="login_right"></section>

</main>