<main id="tweet_main">

{{> menu}}

<section id="tweet_center">
    <div class="tweet_container1">
        <a href="/profil/{{me}}"><img src="/assets/images/back.svg" height="20px"alt=""></a>
        <h1 class="tweet_container1-title">Tweeter</h1>
    </div>
    
    <div class="tweet_container3"></div>
    {{#each message}} 
    <div class="tweet_container4">
        <div class="tweet_container4-tweet">
            <div class="tweet_container4-img">
                <img src="{{link}}">
            </div>
            <div class="tweet_container4-content">
                <div class="tweet_container4-content_username"> 
                    <h1>{{username}}</h1>
                    {{moment created_at "fromNow"}}
                </div>
                <div class="tweet_container4-content_string">
                {{ content }}
                </div>
            </div>
        </div>
        </div>
    </div>
    {{/each}} 
    

</section>

{{> suggestions}}

</main>